<div *ngIf="us.getUser() | async; let user; else showLogin">
  <mat-toolbar>
    <a href="/"><mat-icon>home</mat-icon>
    </a>
    <div class="header">Hello {{ user.displayName }}</div>
    <div>
      <button mat-mini-fab (click)="us.logout()"><mat-icon>close</mat-icon></button>
    </div>
  </mat-toolbar>
  <div *ngIf="currentGameItem; then showGame else selectGame">
  </div>
</div>
<ng-template #showLogin>
  <p>Please login.</p>
  <button mat-raised-button (click)="us.login()">Login with Google</button>
  <button mat-raised-button (click)="us.loginFB()">Login with Facebook</button>
</ng-template>

<ng-template #selectGame>
  <mat-card>

    <button mat-raised-button *ngFor="let item of gs.getRooms() | async" (click)='pickGame(item)'>{{item.name}}</button>
    <button mat-mini-fab (click)='createGame()'><mat-icon>add</mat-icon>
    </button>

  </mat-card>
</ng-template>

<ng-template #showGame>

  <button mat-raised-button routerLink="/setting/{{currentGameItem.id}}"> Settings </button>
  <button mat-raised-button  routerLink="/game/{{currentGameItem.id}}"> Game </button>
  <button mat-raised-button  routerLink="/summary/{{currentGameItem.id}}"> Summary </button>
  <mat-card>
    <router-outlet></router-outlet>
  </mat-card>
</ng-template>
